@page "/"

<div>
	<GridRow>
		<GridCol Span="8"></GridCol>
		<GridCol Span="8">
			<GridRow>
				<GridCol Span="8">URAL</GridCol>
				<GridCol Span="8">
					ISSN печатной версии
				</GridCol>
				<GridCol Span="8"></GridCol>
			</GridRow>
			<GridCol Span="24">
				RADIO ENGINEERING
			</GridCol>
			<GridRow>
				<GridCol Span="8"></GridCol>
				<GridCol Span="8">
					JOURNAL
				</GridCol>
				<GridCol Span="8">
					Октябрь 23, 2024
				</GridCol>
			</GridRow>
		</GridCol>
		<GridCol Span="8"></GridCol>
	</GridRow>
</div>
<h1>
	
	
	
</h1>

<h4>
	Рецензируемый международный научно-технический журнал с открытым доступом, посвященный последним достижениям радиоэлектроники и связи.
</h4>

<img src="./src/mainPic.svg" />

<h2>
	О журнале
</h2>

<h4>
	Рецензируемый международный научно-технический журнал с открытым доступом,посвященный последним достижениям радиоэлектроники и связи.
</h4>

<h4>
	Редакция журнала отдаёт предпочтение практическим исследованиям,  связанным с освоением критических промышленных технологий, реализация которых обеспечит создание высокоэффективной конкурентоспособной радиоэлектронной продукции.
</h4>

<h2>
	Журнал ориентирован на научные специальности:
</h2>


@* <AntList>
	<ListItem>
		Электронная компонентная база микро- и наноэлектроники,  квантовых устройств (технические науки)
		Полнотекстовая версия журнала находится в режиме свободного доступа: на сайте журнала, в электронном научном архиве УрФУ и на платформе Научной электронной библиотеки (РИНЦ).
	</ListItem>
</AntList> *@

<h2>
	Каталог Журналов
</h2>



@code{
	
}
